name: Flask Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
    
jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8 pytest
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      - name: Start flask
        run: |
          export FLASK_APP=app/api.py
          export FLASK_ENV=development
          export PYTHONPATH=$GITHUB_WORKSPACE
          flask run &
          
      - name: Execute API tests
        run: |
          ls
          python3 -m pytest tests/api
